@import '../../../../resources/sass/definitions';

.iq-commerce-ajax-cart {
  position: relative;
  padding-bottom: 10px;

  &.show,
  &:hover {
    .content {
      display: block;
    }
  }

  .toggle {

    &__link {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      text-decoration: none;
      height: 32px;

      &:hover {
        text-decoration: none;
      }
    }

    &__count {
      width: 1.5rem;
      display: inline-block;
      height: 1.5rem;
      line-height: 1.5rem;
      margin-left: 5px;
      text-align: center;
      border-radius: 50%;
      font-size: $font-size-small;
      background: $color-grey5;

      &:empty {
        display: none;
      }
    }
  }

  .content {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    padding: 15px;
    right: 0;
    background: $color-grey5;
    max-width: 500px;
    min-width: 300px;

    &--loading {

      .content__header,
      .content__footer {
        display: none;
      }
    }

    &__header {
      .title {
        font-weight: 700;
      }
    }

    &__body {
      max-height: 390px;
      overflow: auto;

      .empty {
        white-space: nowrap;
        margin: 0;
      }
    }

    &__footer {
      .total {
        display: flex;
        font-weight: 700;
        justify-content: space-between;
        padding: 15px 0;

        &__value {
          text-align: right;
        }
      }

      .iq-button a {
        margin: 0;
        white-space: nowrap;
        width: 100%;
        color: $font-color-buttons;

        span {
          color: $font-color-buttons;
        }
      }
    }
  }
}