// --- Variables ---
// Breakpoints
$breakpoint-full-hd: 1920px;
$breakpoint-xxl: 1440px;
$breakpoint-xl: 1280px;
$breakpoint-l: 1024px;
$breakpoint-m: 768px;
$breakpoint-s: 375px;
$breakpoint-xs: 320px;
$breakpoint-xxs: 280px;