/*************** BASE DEFINITIONS ***************/
$min-viewport-width:                  320px;
$max-viewport-width:                  1280px;
$size-ratio:                          1.25; //Settable (selection, see http://type-scale.com/, scale)

/*************** COLOR DEFINITIONS ***************/
$color-black:                         #000;
$color-white:                         #fff;
$color-grey1:                         #333333;
$color-grey2:                         #666666;
$color-grey3:                         #999999;
$color-grey4:                         #cccccc;
$color-grey5:                         #eeeeee;
$color-primary:                       #d96704;
$color-secondary:                     #a63f03;
$color-tertiary:                      #9b2c02;
$color-quaternary:                    #d0eff2;

/* Base colors */
$color-background-page:               rgba($color-white,1);

$color-background-meta-header:        rgba($color-grey1,1);
$color-font-meta-header:              rgba($color-grey4,1);

$color-background-header:             rgba($color-white,1);
$color-font-header:                   rgba($color-grey3,1);


$color-background-footer:             rgba($color-grey1,1);
$color-font-footer:                   rgba($color-grey4,1);

$color-text-inverted:                 rgba($color-white,1);


/*************** FONT DEFINITIONS ***************/

/* Headings */
$font-size-h1:                        4rem;
$font-size-min-h1:                    3rem;
$line-height-h1:                      1.3;
$font-weight-h1:                      300;
$font-style-h1:                       normal;
$color-h1:                            rgba($color-primary,1);
$color-h1-inverted:                   rgba($color-white,1);
$font-family-h1:                      Lato;
$margin-top-h1:                       2.5rem;
$margin-bottom-h1:                    1.25rem;

$font-size-h2:                        2rem;
$font-size-min-h2:                    2rem;
$line-height-h2:                      1.2;
$font-weight-h2:                      400;
$font-style-h2:                       normal;
$color-h2:                            rgba($color-grey3,1);
$color-h2-inverted:                   rgba($color-white,1);
$font-family-h2:                      Lato;
$margin-top-h2:                       2rem;
$margin-bottom-h2:                    1rem;

$font-size-h3:                        1.75rem;
$font-size-min-h3:                    2rem;
$line-height-h3:                      1.2;
$font-weight-h3:                      400;
$font-style-h3:                       normal;
$color-h3:                            rgba($color-grey3,1);
$color-h3-inverted:                   rgba($color-white,1);
$font-family-h3:                      Lato;
$margin-top-h3:                       1.75rem;
$margin-bottom-h3:                    0.875rem;

$font-size-h4:                        1.5rem;
$font-size-min-h4:                    2rem;
$line-height-h4:                      1.2;
$font-weight-h4:                      300;
$font-style-h4:                       normal;
$color-h4:                            rgba($color-grey3,1);
$color-h4-inverted:                   rgba($color-white,1);
$font-family-h4:                      Lato;
$margin-top-h4:                       1.5rem;
$margin-bottom-h4:                    0.75rem;

$font-size-h5:                        1.25rem;
$font-size-min-h5:                    2rem;
$line-height-h5:                      1.2;
$font-weight-h5:                      300;
$font-style-h5:                       normal;
$color-h5:                            rgba($color-grey3,1);
$color-h5-inverted:                   rgba($color-white,1);
$font-family-h5:                      Lato;
$margin-top-h5:                       1.25rem;
$margin-bottom-h5:                    0.625rem;

$font-size-h6:                        1rem;
$font-size-min-h6:                    2rem;
$line-height-h6:                      1.2;
$font-weight-h6:                      500;
$font-style-h6:                       normal;
$color-h6:                            rgba($color-grey3,1);
$color-h6-inverted:                   rgba($color-white,1);
$font-family-h6:                      Lato;
$margin-top-h6:                       1rem;
$margin-bottom-h6:                    0.5rem;


/* Content */
$font-size-standard:                  1rem;
$font-size-min-standard:              1rem;
$line-height-standard:                1.5;
$font-weight-standard:                300;
$font-style-standard:                 normal;
$color-standard:                      rgba($color-grey3,1);
$color-standard-inverted:             rgba($color-white,1);
$font-family-standard:                Lato;
$margin-top-standard:                 0rem;
$margin-bottom-standard:              0.5rem;

$font-size-small:                     0.75rem;
$font-size-min-small:                 0.5rem;
$line-height-small:                   1.2;
$font-weight-small:                   300;
$font-style-small:                    normal;
$color-small:                         rgba($color-grey3,1);
$color-small-inverted:                rgba($color-white,1);
$font-family-small:                   Lato;
$margin-top-small:                    0rem;
$margin-bottom-small:                 0.5rem;

$font-size-lead:                      1.25rem;
$font-size-min-lead:                  1.25rem;
$line-height-lead:                    1.5;
$font-weight-lead:                    700;
$font-style-lead:                     normal;
$color-lead:                          rgba($color-grey3,1);
$color-lead-inverted:                 rgba($color-white,1);
$font-family-lead:                    Lato;
$margin-top-lead:                     0rem;
$margin-bottom-lead:                  0.5rem;

$font-size-deco-1:                    2rem;
$font-size-min-deco-1:                1.8rem;
$line-height-deco-1:                  1.2;
$font-weight-deco-1:                  400;
$font-style-deco-1:                   normal;
$color-deco-1:                        rgba($color-quaternary,1);
$color-deco-1-inverted:               rgba($color-white,1);
$font-family-deco-1:                  Arizonia;
$margin-top-deco-1:                   0rem;
$margin-bottom-deco-1:                0.5rem;

$font-size-deco-2:                    2.2rem;
$font-size-min-deco-2:                2rem;
$line-height-deco-2:                  1.2;
$font-weight-deco-2:                  300;
$font-style-deco-2:                   normal;
$color-deco-2:                        rgba($color-tertiary,1);
$color-deco-2-inverted:               rgba($color-white,1);
$font-family-deco-2:                  IBM Plex Mono;
$margin-top-deco-2:                   0rem;
$margin-bottom-deco-2:                0.5rem;

$font-size-deco-3:                    2.7rem;
$font-size-min-deco-3:                2.5rem;
$line-height-deco-3:                  1.2;
$font-weight-deco-3:                  400;
$font-style-deco-3:                   normal;
$color-deco-3:                        rgba($color-primary,1);
$color-deco-3-inverted:               rgba($color-white,1);
$font-family-deco-3:                  Arizonia;
$margin-top-deco-3:                   0rem;
$margin-bottom-deco-3:                0.5rem;


$color-link:                          rgba($color-grey3,1);
$color-link-inverted:                 rgba($color-white,1);
$color-link-hover:                    rgba($color-primary,1);
$color-link-hover-inverted:           rgba($color-white,1);
$text-decoration-link:                underline;
$text-decoration-link-hover:          underline dotted;

$font-size-buttons:                   1rem;
$line-height-buttons:                 1.2;
$font-weight-buttons:                 900;
$font-style-buttons:                  normal;
$font-family-buttons:                 Lato;
$border-width-buttons:                1px 1px 1px 1px;
$border-radius-buttons:               0px;


$margin-buttons:                      10px 10px 10px 10px;
$padding-buttons:                     5px 20px 5px 20px;
$font-color-buttons:                  rgba($color-white,1);
$background-color-buttons:            rgba($color-primary,1);
$border-color-buttons:                rgba($color-primary,1);
$font-color-hover-buttons:            rgba($color-white,1);
$background-color-hover-buttons:      rgba($color-primary,0.6);
$border-color-hover-buttons:          rgba($color-primary,1);
$font-color-active-buttons:           rgba($color-primary,1);
$background-color-active-buttons:     rgba($color-white,1);
$border-color-active-buttons:         rgba($color-primary,1);

$font-color-buttons-inverted:                  rgba($color-primary,1);
$background-color-buttons-inverted:            rgba($color-black,1);
$border-color-buttons-inverted:                rgba($color-black,1);
$font-color-hover-buttons-inverted:            rgba($color-white,1);
$background-color-hover-buttons-inverted:      rgba($color-primary,0.6);
$border-color-hover-buttons-inverted:          rgba($color-primary,1);
$font-color-active-buttons-inverted:           rgba($color-white,1);
$background-color-active-buttons-inverted:     rgba($color-black,1);
$border-color-active-buttons-inverted:         rgba($color-primary,1);


$font-size-buttons-alternate:                   14px;
$line-height-buttons-alternate:                 1;
$font-weight-buttons-alternate:                 100;
$font-style-buttons-alternate:                  normal;
$font-family-buttons-alternate:                 'Open Sans', sans-serif;
$border-width-buttons-alternate:                1px 1px 1px 1px;
$border-radius-buttons-alternate:               0px;
$margin-buttons-alternate:                      0px 0px 0px 0px;
$padding-buttons-alternate:                     10px 10px 10px 10px;
$font-color-buttons-alternate:                  rgba($color-grey1,1);
$background-color-buttons-alternate:            rgba($color-grey5,1);
$border-color-buttons-alternate:                rgba($color-grey5,1);
$font-color-hover-buttons-alternate:            rgba($color-grey1,1);
$background-color-hover-buttons-alternate:      rgba($color-grey4,1);
$border-color-hover-buttons-alternate:          rgba($color-grey5,1);
$font-color-active-buttons-alternate:           rgba($color-white,1);
$background-color-active-buttons-alternate:     rgba($color-grey4,1);
$border-color-active-buttons-alternate:         rgba($color-grey5,1);

$font-color-buttons-alternate-inverted:                  rgba($color-grey5,1);
$background-color-buttons-alternate-inverted:            rgba($color-grey1,1);
$border-color-buttons-alternate-inverted:                rgba($color-grey1,1);
$font-color-hover-buttons-alternate-inverted:            rgba($color-grey5,1);
$background-color-hover-buttons-alternate-inverted:      rgba($color-grey2,1);
$border-color-hover-buttons-alternate-inverted:          rgba($color-grey1,1);
$font-color-active-buttons-alternate-inverted:           rgba($color-black,1);
$background-color-active-buttons-alternate-inverted:     rgba($color-grey2,1);
$border-color-active-buttons-alternate-inverted:         rgba($color-grey1,1);




/* Navigation main */

$navi-main-font-family:               Lato;
$navi-main-font-weight:               400;
$navi-main-font-style:                normal;
$navi-main-line-height:               2;
$navi-main-font-size:                 1rem;
$navi-main-text-transform:            none;
$navi-main-margin:                    0px 20px 0px;
$navi-main-padding:                   5px 5px 5px;
$navi-main-border-width:              0px 0px 0px 0px;

$color-background-navbar:             rgba($color-white,0.5);
$color-font-navbar:                   rgba($color-grey3,1);
$color-border-navbar:                 rgba($color-white,0);

$color-background-navbar-hover:       rgba($color-white,0.5);
$color-font-navbar-hover:             rgba($color-grey2,1);
$color-border-navbar-hover:           rgba($color-white,0);

$color-background-navbar-active:      rgba($color-white,0.5);
$color-font-navbar-active:            rgba($color-primary,1);
$color-border-navbar-active:          rgba($color-white,0);

/* Dropdown */

$navi-sub-font-family:                Lato;
$navi-sub-font-weight:                400;
$navi-sub-font-style:                 normal;
$navi-sub-line-height:                2;
$navi-sub-font-size:                  1rem;
$navi-sub-text-transform:             none;
$navi-sub-margin:                     -1px 0px 0px;
$navi-sub-padding:                    15px 15px 15px;
$navi-sub-border-width:               1px 1px 1px 1px;

$color-background-nav-dropdown:       rgba($color-white,1);
$color-font-nav-dropdown:             rgba($color-grey3,1);
$color-border-nav-dropdown:           rgba($color-grey5,1);

$color-background-nav-dropdown-hover: rgba($color-grey4,1);
$color-font-nav-dropdown-hover:       rgba($color-grey1,1);
$color-border-nav-dropdown-hover:     rgba($color-grey5,1);

$color-background-nav-dropdown-active: rgba($color-white,1);
$color-font-nav-dropdown-active:       rgba($color-primary,1);
$color-border-nav-dropdown-active:     rgba($color-grey5,1);

/* Mobile */

$color-background-nav-mobile:         rgba($color-white,1);
$color-font-nav-mobile:               rgba($color-grey3,1);
$color-font-nav-mobile-hover:         rgba($color-grey3,1);

/* Dropdown */

$color-font-nav-sidebar:              rgba($color-grey3,1);
$color-font-nav-sidebar-hover:        rgba($color-grey3,1);



/* Margins &  paddings */
$base-margin-top:                     30px;
$base-margin-bottom:                  30px;
$base-margin-left:                    30px;
$base-margin-right:                   30px;
$base-margin:                         $base-margin-top $base-margin-right $base-margin-bottom $base-margin-left;

$base-padding-top:                    30px;
$base-padding-bottom:                 30px;
$base-padding-left:                   30px;
$base-padding-right:                  30px;
$base-padding:                        $base-padding-top $base-padding-right $base-padding-bottom $base-padding-left;

$padding-field-default: 5px 20px;





/*************** PATTERN SETTINGS ***************/

/* Slider */
$slider-arrow-font-size:              1.5rem;
$slider-arrow-color:                  rgba($color-grey3,1);
$slider-arrow-backgroundcolor:        rgba($color-white,0.5);
$slider-dot-font-size:                1rem;
$slider-dot-color:                    rgba($color-primary,1);
$slider-dot-color_active:             rgba($color-primary,0.5);


/* Quote */
$quote-highlight-color:               rgba($color-grey5,1);


/* Social */
$social-icons-color:                  rgba($color-quaternary,1);


/* Tabs */
$tab-color:                           rgba($color-grey5,1);
$tab-font-color:                      rgba($color-grey3,1);
$tab-color-active:                    rgba($color-grey4,1);
$tab-font-color-active:               rgba($color-grey2,1);

/* Toggler */
$toggler-color:                       rgba($color-grey3,1);
$toggler-color-hover:                 rgba($color-grey4,1);
$toggler-color-active:                rgba($color-grey5,1);

/* Anchor Navigation */
$anchornavigation-font-family:        'Open Sans', sans-serif;
$anchornavigation-font-weight:        100;
$anchornavigation-font-style:         normal;
$anchornavigation-line-height:        2;
$anchornavigation-font-size:          1rem;

$anchornavigation-margin-top:         0px;
$anchornavigation-margin-right:       0px;
$anchornavigation-margin-bottom:      0px;
$anchornavigation-margin-left:        0px;
$anchornavigation-margin:             0px 0px 0px 0px;

$anchornavigation-padding-top:        10px;
$anchornavigation-padding-right:      10px;
$anchornavigation-padding-bottom:     10px;
$anchornavigation-padding-left:       10px;
$anchornavigation-padding:            10px 10px 10px 10px;

$anchornavigation-font-color-standard:          rgba($color-grey1, 1);
$anchornavigation-background-color-standard:    rgba($color-white, 1);
$anchornavigation-border-color-standard:        rgba($color-white, 1);

$anchornavigation-font-color-hover:             rgba($color-white, 1);
$anchornavigation-background-color-hover:       rgba($color-primary, 1);
$anchornavigation-border-color-hover:           rgba($color-primary, 1);

$anchornavigation-font-color-active:            rgba($color-white, 1);
$anchornavigation-background-color-active:      rgba($color-primary, 1);
$anchornavigation-border-color-active:          rgba($color-primary, 1);

$anchornavigation-background-color:             rgba($color-white, 1);




// Helper function
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// Fluid typography
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);


  font-size: $min-font-size;

  @if $u1 == $u2 and $u4 == $u3 {
    @if $u3 == rem {
      & {
        @media screen and (min-width: 320px) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * 16 * ((100vw - #{320px}) / #{strip-unit(991px - 320px)}));
        }
      }
    }

    @if $u3 == px {
      & {
        @media screen and (min-width: 320px) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{320px}) / #{strip-unit(991px - 320px)}));
        }
      }
    }

  }

  @media screen and (min-width: 991px) {
    font-size: $max-font-size;
  }


}

/* Title margins */


/*************** BORDER DEFINITIONS ***************/
$border-radius-base:  1px; //Settable (value, 0-50%)
$border-width-base:   1px; //Settable (value, 1-10px)
$border-style-base:   solid; //Settable (value, 1-10px)
$border-color-base:   rgba($color-grey5,1);
$border-base:         $border-width-base $border-style-base $border-color-base;

/*************** OTHER DEFINITIONS ***************/
$transition-default: all 0.2s ease;







/* Legacy variables */
$color-darkest:                       $color-black;
$color-darker:                        $color-grey1;
$color-dark:                          $color-grey2;
$color-medium:                        $color-grey3;
$color-light:                         $color-grey4;
$color-lighter:                       $color-grey5;
$color-lightest:                      $color-white;

$margin-top-base:                     $base-margin-top;
$margin-bottom-base:                  $base-margin-bottom;
$margin-left-base:                    $base-margin-left;
$margin-right-base:                   $base-margin-right;
$margin-base:                         $margin-bottom-base;

$padding-top-base:                    $base-padding-top;
$padding-bottom-base:                 $base-padding-bottom;
$padding-left-base:                   $base-padding-left;
$padding-right-base:                  $base-padding-right;
$padding-base:                        $padding-bottom-base;

/* Content text colors */
$color-text-titles:                   rgba($color-primary,1);
$color-text-content:                  rgba($color-grey3,1);
$color-text-links:                    rgba($color-grey3,1);

$color-text-icons:                    rgba($color-primary,0.4);
$color-text-icons-hover:              rgba($color-primary,0.6);
$color-text-icons-active:             rgba($color-primary,1);

$color-text-icons-inverted:           rgba($color-white,0.4);
$color-text-icons-inverted-hover:     rgba($color-white,0.6);
$color-text-icons-inverted-active:    rgba($color-primary,1);

$color-text-icons-alternate:                    rgba($color-tertiary,0.6);
$color-text-icons-alternate-hover:              rgba($color-tertiary,1);
$color-text-icons-alternate-active:             rgba($color-primary,1);

$color-text-icons-alternate-inverted:           rgba($color-quaternary,0.6);
$color-text-icons-alternate-inverted-hover:     rgba($color-quaternary,1);
$color-text-icons-alternate-inverted-active:    rgba($color-black,1);



/* Elements colors normal state (e.g. button) */
$color-text-elements:                 $font-color-buttons; //Settable (value)
$color-background-elements:           $background-color-buttons; //Settable (value)
$color-border-elements:               $border-color-buttons; //Settable (value)

/* Elements colors hover state (e.g. button) */
$color-text-elements-hover:           $font-color-hover-buttons; //Settable (value)
$color-background-elements-hover:     $background-color-hover-buttons; //Settable (value)
$color-border-elements-hover:         $border-color-hover-buttons;; //Settable (value)

/* Elements colors active state (e.g. button) */
$color-text-elements-active:          $font-color-active-buttons;
$color-background-elements-active:    $background-color-active-buttons;
$color-border-elements-active:        $border-color-active-buttons;;

$color-background-content:            $color-background-page;

$font-size-base:                      $font-size-standard;
$line-height-base:                    $line-height-standard;
$font-weight-base:                    $font-weight-standard;
$font-style-base:                     $font-style-standard;
$color-base:                          $color-standard;
$font-family-base:                    $font-family-standard;

$font-family-titles:                  $font-family-h1;
$font-family-content:                 $font-family-base;

@import '../../../../../themes/custom/iq_barrio/resources/sass/definitions';

// mixins
@mixin font-standard {
  font-size: $font-size-standard;
  line-height: $line-height-standard;
  font-weight: $font-weight-standard;
  font-style: $font-style-standard;
  font-family: $font-family-standard;
  color: $color-standard;
  @include fluid-type(320px, 991px, $font-size-min-standard, $font-size-standard);
}
