@import 'definitions';

.commerce-checkout-flow {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;

  .layout-checkout-form {

    // Titles
    legend {
      margin-bottom: 0;

      .fieldset-legend {
        display: flex;
        font-size: $font-size-h3;
        line-height: $line-height-h3;
        font-weight: $font-weight-h3;
        font-style: $font-style-h3;
        font-family: $font-family-h3;
        color: $color-h3;
        margin-top: $margin-top-h3;
        margin-bottom: $margin-bottom-h3;
        @include fluid-type(320px, 991px, $font-size-min-h3, $font-size-h3);

        a {
          text-decoration: none;

          i {
            font-size: $font-size-min-h3;
            transition: $transition-default;
          }
        }
      }
    }

    // Inputs
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="submit"],
    input[type="password"],
    select,
    textarea {
      border-radius: $border-radius-base;
      border: $border-width-base solid $border-color-base;
      margin-top: 0;
    }

    // Button
    .js-form-submit {
      display: inline-block;
      padding: $padding-buttons;
      margin: 0 0 15px 0;
      font-size: $font-size-buttons;
      font-weight: $font-weight-buttons;
      font-style: $font-style-buttons;
      font-family: $font-family-buttons;
      line-height: $line-height-buttons;
      color: $font-color-buttons;
      text-decoration: none;
      border-color: $border-color-buttons;
      border-style: solid;
      border-width: $border-width-buttons;
      border-radius: $border-radius-buttons;
      background: $background-color-buttons;
      transition: $transition-default;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: $background-color-hover-buttons;
        color: $font-color-hover-buttons;
        border-color: $border-color-hover-buttons;
        text-decoration: none;
      }
    }

    // Table
    .table {
      font-size: $font-size-standard;
      margin: 0 0 15px 0;

      tr {
        background: none;

        th,
        td {
          padding: 8px 0;
          background: none;
          color: inherit;
          border-bottom: 1px solid $border-color-base;
          border-top: none;

          &:last-child {
            text-align: right;
          }
        }
      }
    }

    // Address field
    .address {
      margin-bottom: 30px;
    }

    // Form Group reset
    .form-group {
      margin-bottom: 0;
    }

    // Entity reference field reset
    .field--type-entity-reference {
      margin-bottom: 0;
    }

    // Fields
    .js-form-item {
      margin-bottom: 30px;
    }

    // Checkout panes
    .checkout-pane {
      margin-bottom: 60px;

      // Login
      &.checkout-pane-login {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        .form-wrapper__login-option {
          padding: 0 15px;

          @media only screen and (min-width: 768px) {
            flex-basis: 50%;
          }

          .fieldset-wrapper {
            >fieldset {
              margin-bottom: 30px;
            }
          }
        }
      }

      // Payment provider selection
      &.checkout-pane-commerce-payrexx-integration-commerce-pane-payment-method-selection {
        fieldset.payment-methods {

          // Radio buttons wrapper
          >.fieldset-wrapper {
            >div.radio {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: center;

              >div {

                // I'll choose later
                &:first-of-type {
                  width: 100%;
                  margin-bottom: 15px;

                  label,
                  button {
                    cursor: pointer;
                  }
                }

                // Payment providers
                &:not(:first-of-type) {

                  // Radio wrapper
                  .js-form-item {
                    width: 60px;
                    height: 40px;
                    background-color: $color-grey5;
                    margin-right: 15px;
                    margin-bottom: 15px;
                    cursor: pointer;

                    // Overlay
                    &:before {
                      display: none;
                      content: '';
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      background-color: rgba($color: $color-white, $alpha: 0.5);
                      z-index: 1;
                    }

                    &:hover,
                    &:focus {
                      &:before {
                        display: block;
                      }
                    }
                  }

                  // Radio button
                  input {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin: 0;
                    z-index: 2;
                    cursor: pointer;
                  }

                  // Label
                  label {
                    display: none;
                  }

                  // Images
                  // Mastercard
                  &.mastercard {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_mastercard.svg') no-repeat center/contain;
                    }
                  }

                  // Visa
                  &.visa {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_visa.svg') no-repeat center/contain;
                    }
                  }

                  // American Express
                  &.american-express {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_american-express.svg') no-repeat center/contain;
                    }
                  }

                  // Apple Pay
                  &.apple-pay {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_apple-pay.svg') no-repeat center/contain;
                    }
                  }

                  // Google Pay
                  &.google-pay {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_google-pay.svg') no-repeat center/contain;
                    }
                  }

                  // Bancontact
                  &.bancontact {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_bancontact.svg') no-repeat center/contain;
                    }
                  }

                  // Giropay
                  &.giropay {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_giropay.svg') no-repeat center/contain;
                    }
                  }

                  // Ideal
                  &.ideal {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_ideal.svg') no-repeat center/contain;
                    }
                  }

                  // Sofort
                  &.sofort {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_sofort.svg') no-repeat center/contain;
                    }
                  }

                  // EPS
                  &.eps {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_eps.svg') no-repeat center/contain;
                    }
                  }

                  // Alipay
                  &.alipay {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_alipay.svg') no-repeat center/contain;
                    }
                  }

                  // WeChat
                  &.wechat-pay {
                    .js-form-item {
                      background: url('../assets/payment-providers-svg/card_wechat-pay.svg') no-repeat center/contain;
                    }
                  }
                }
              }
            }
          }
        }
      }

      // Order Summary
      &.checkout-pane-order-summary {
        position: sticky;
        top: 30px;

        .order-total-line {
          padding: 0;

          &:not(:last-of-type) {
            margin-bottom: 0.5rem;
          }

          .order-total-line-value {
            width: 140px;
          }

          &__total {
            padding-top: 0;
          }
        }
      }

      // Shipping information
      &.checkout-pane-shipping-information {

        // Field overrides
        [data-drupal-selector="edit-shipping-information-shipments-0-shipping-method-0"] {
          margin-bottom: 0;

          .js-form-item {
            margin-bottom: 0;
          }
        }

        // Recalculate shipping button override
        [data-drupal-selector="edit-shipping-information-recalculate-shipping"] {
          margin-bottom: 60px;
        }
      }

      // Payment information
      &.checkout-pane-payment-information {
        margin-bottom: 30px;

        // Bearbeiten button override
        .address-book-edit-button {
          margin-bottom: 30px;
        }
      }

      [data-drupal-selector="edit-payment-information-payment-method"] {
        order: 1;
      }

      [data-drupal-selector="edit-payment-information-billing-information"] {
        order: 0;
      }

      // Review
      &.checkout-pane-review {

        // Spacings between sections
        .form-group {
          &:not(:last-of-type) {
            margin-bottom: 60px;
          }
        }
      }
    }

    // Footer
    .layout-region-checkout-footer {
      float: none;
      width: auto;
      padding: 0;

      .form-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: $breakpoint-s) {
          flex-direction: row-reverse;
        }

        input {
          @media screen and (min-width: $breakpoint-s) {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
    }
  }
}
