@import 'definitions';

// cart
.cart-empty-page {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 15px;
}

.cart {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  .view-commerce-cart-form {
    .views-form {
      width: 100%;

      .table {
        margin: 0;
        font-size: $font-size-standard;

        thead {

          .views-field-edit-quantity,
          .views-field-remove-button,
          .views-field-total-price__number {
            @media only screen and (max-width: 767px) {
              display: none;
            }
          }
        }

        tr {
          background: none;

          @media only screen and (max-width: 767px) {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 80px auto auto;
            padding: 0;
            border-bottom: 1px solid $border-color-base;
          }


          th,
          td {
            padding: 8px 0;
            background: none;
            color: inherit;
            border-bottom: 1px solid $border-color-base;
            border-top: none;

            @media only screen and (max-width: 767px) {
              border: none;
            }

          }

          .views-field-unit-price__number {
            padding-left: 15px;
            padding-right: 15px;
            line-height: 35px;

            @media only screen and (max-width: 767px) {
              display: none;
            }
          }

          .views-field-nothing {
            padding-right: 10px;

            img {
              max-width: 100%;
              height: auto;
            }
          }

          .views-field-purchased-entity {
            grid-column-end: 4;
            grid-column-start: 2;

            .field--type-entity-reference {
              margin: 0
            }
          }

          .views-field-edit-quantity {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 4;
            width: 185px;

            .form-number {
              width: 100%;
            }

            .item-update {
              display: flex;

              @media only screen and (max-width: 767px) {
                justify-content: space-between;
              }

              button {
                background: $color-grey5;
                border: 1px solid $color-grey4;
                width: 35px;
                padding: 0;
                text-align: center;
                line-height: 33px;
                font-size: $font-size-small;
                color: $color-grey3;
                cursor: pointer;
              }

              .delete-order-item {
                background: none;
                border: none;
                width: 15px;
                padding: 0;
                text-align: center;
                line-height: 35px;
                font-size: $font-size-small;
                color: $color-grey3;
                cursor: pointer;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                margin-left: auto;
                text-indent: 100px;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 416 700' style='enable-background:new 0 0 416 700;' xml:space='preserve'%3E%3Cpath class='st0' fill='%23999999' d='M248.9,498.6h22.3c6.2,0,11.1-5,11.1-11.1V286.9c0-6.2-5-11.1-11.1-11.1h-22.3c-6.2,0-11.1,5-11.1,11.1v200.6 C237.7,493.6,242.7,498.6,248.9,498.6z M401.1,186.6h-76.5L293,133.9c-8.1-13.4-22.6-21.6-38.2-21.6h-93.6 c-15.7,0-30.2,8.2-38.2,21.6l-31.6,52.6H14.9c-8.2,0-14.9,6.7-14.9,14.9v14.9c0,8.2,6.7,14.9,14.9,14.9h14.9v312 c0,24.6,20,44.6,44.6,44.6l0,0h267.4c24.6,0,44.6-20,44.6-44.6l0,0v-312h14.9c8.2,0,14.9-6.7,14.9-14.9v-14.9 C416,193.2,409.3,186.6,401.1,186.6z M159.6,159.6c1-1.7,2.8-2.7,4.8-2.7h87.3c2,0,3.8,1,4.8,2.7l16.2,27H143.4L159.6,159.6z M341.7,543.1H74.3v-312h267.4V543.1z M144.9,498.6h22.3c6.2,0,11.1-5,11.1-11.1V286.9c0-6.2-5-11.1-11.1-11.1h-22.3 c-6.2,0-11.1,5-11.1,11.1v200.6C133.7,493.6,138.7,498.6,144.9,498.6z'/%3E%3C/svg%3E%0A");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                @media only screen and (min-width: 768px) {
                  margin-left: 15px;
                }

                @media only screen and (min-width: 1200px) {
                  margin-left: 45px;
                }
              }


              fieldset {
                padding: 0 5px;
              }

              input {
                text-align: center;
                -moz-appearance: textfield;
                border: 1px solid $color-grey4;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
            }

          }

          .views-field-remove-button {
            grid-row-start: 2;
            grid-column-start: 2;
          }

          .views-field-total-price__number {
            grid-row-start: 3;
            grid-column-start: 1;
            grid-column-end: 4;
            line-height: 35px;
            text-align: right;

            @media only screen and (min-width: 768px) {
              width: 120px;
            }

            @media only screen and (min-width: 1200px) {
              width: 140px;
            }
          }

          .form-group {
            margin-bottom: 0;
          }

          .form-number {
            border-radius: $border-radius-base;
            border: $border-width-base solid $border-color-base;
            font-weight: normal;
            font-size: 0.875rem;
            width: auto;
          }

          .delete-order-item {
            margin: 0;
            padding: .375rem .75rem;
            width: auto;
            background-color: $color-grey4;
            border: $border-width-base solid $border-color-base;
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 1.5;
          }
        }

      }

      .order-total-line {
        padding: 0 15px;

        .order-total-line-value {
          width: 120px;

          @media only screen and (min-width: 1200px) {
            width: 140px;
          }
        }
      }

      .form-actions {
        padding: 15px;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
          flex-direction: row;
          padding: 15px 0;
        }

        .btn-primary {
          margin: 15px 0;

          @media only screen and (min-width: 768px) {
            margin: 0 15px;
          }

          &[data-drupal-selector="edit-submit"] {
            background-color: $color-grey4;
            border: $border-width-base solid $border-color-base;
            font-weight: normal;
            width: auto;
          }
        }
      }
    }

    .order-total-line-value {
      width: 100px;
    }
  }
}


// checkout
.form-wrapper__login-option {
  padding: 0;
}

.commerce-checkout-flow {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  .checkout-pane-login {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .form-wrapper__login-option {
      padding: 0 15px;

      @media only screen and (min-width: 768px) {
        flex-basis: 50%;
      }
    }
  }

  .layout-checkout-form {

    .checkout-pane-commerce-payrexx-integration-commerce-pane-payment-method-selection {
      fieldset.payment-methods {

        // Radio buttons wrapper
        >.fieldset-wrapper {
          >div.radio {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            >div {

              // I'll choose later
              &:first-of-type {
                width: 100%;
                margin-bottom: 15px;

                label,
                button {
                  cursor: pointer;
                }
              }

              // Payment providers
              &:not(:first-of-type) {

                // Radio wrapper
                .js-form-item {
                  width: 60px;
                  height: 40px;
                  background-color: $color-grey5;
                  margin-right: 15px;
                  margin-bottom: 15px;
                  cursor: pointer;

                  // Overlay
                  &:before {
                    display: none;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba($color: $color-white, $alpha: 0.5);
                    z-index: 1;
                  }

                  &:hover,
                  &:focus {
                    &:before {
                      display: block;
                    }
                  }
                }

                // Radio button
                input {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  margin: 0;
                  z-index: 2;
                  cursor: pointer;
                }

                // Label
                label {
                  display: none;
                }

                // Images
                // Mastercard
                &.mastercard {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_mastercard.svg') no-repeat center/contain;
                  }
                }

                // Visa
                &.visa {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_visa.svg') no-repeat center/contain;
                  }
                }

                // American Express
                &.american-express {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_american-express.svg') no-repeat center/contain;
                  }
                }

                // Apple Pay
                &.apple-pay {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_apple-pay.svg') no-repeat center/contain;
                  }
                }

                // Google Pay
                &.google-pay {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_google-pay.svg') no-repeat center/contain;
                  }
                }

                // Bancontact
                &.bancontact {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_bancontact.svg') no-repeat center/contain;
                  }
                }

                // Giropay
                &.giropay {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_giropay.svg') no-repeat center/contain;
                  }
                }

                // Ideal
                &.ideal {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_ideal.svg') no-repeat center/contain;
                  }
                }

                // Sofort
                &.sofort {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_sofort.svg') no-repeat center/contain;
                  }
                }

                // EPS
                &.eps {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_eps.svg') no-repeat center/contain;
                  }
                }

                // Alipay
                &.alipay {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_alipay.svg') no-repeat center/contain;
                  }
                }

                // WeChat
                &.wechat-pay {
                  .js-form-item {
                    background: url('../assets/payment-providers-svg/card_wechat-pay.svg') no-repeat center/contain;
                  }
                }
              }
            }
          }
        }
      }
    }

    .commerce-checkout-sidebar {
      position: sticky;
      top: 0px;
      align-self: flex-start;

      .order-total-line {
        padding-right: 0;

        .order-total-line-value {
          width: 140px;
        }
      }
    }


    .fieldset-legend {
      display: block;
      font-size: $font-size-h3;
      line-height: $line-height-h3;
      font-weight: $font-weight-h3;
      font-style: $font-style-h3;
      font-family: $font-family-h3;
      color: $color-h3;
      margin-top: $margin-top-h3;
      margin-bottom: $margin-bottom-h3;
      @include fluid-type(320px, 991px, $font-size-min-h3, $font-size-h3);
      word-break: break-all;
      // a{
      //   text-decoration: none;
      //   display: inline-block;
      //   overflow: hidden;
      //   text-indent: -9999px;
      //   &::before{
      //     content: "\f044";
      //     font-weight: 400;
      //     -moz-osx-font-smoothing: grayscale;
      //     -webkit-font-smoothing: antialiased;
      //     display: inline-block;
      //     font-style: normal;
      //     font-variant: normal;
      //     text-rendering: auto;
      //     line-height: 1;
      //     font-family: "Font Awesome 5 Free";
      //     float: left;
      //     text-indent: 0;
      //   }
      // }
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="submit"],
    input[type="password"],
    select,
    textarea {
      border-radius: $border-radius-base;
      border: $border-width-base solid $border-color-base;
      margin-top: 0rem;
    }

    .btn-primary {
      margin: 15px 0;
    }

    table, .table {
      font-size: $font-size-standard;

      tr {
        background: none;

        th,
        td {
          padding: 8px 0;
          background: none;
          color: inherit;
          border-bottom: 1px solid $border-color-base;
          border-top: none;

          &:last-child {
            text-align: right;
          }
        }

        .views-field-quantity {
          padding-right: 5px;
        }

        .views-field-purchased-entity {
          >div {
            @media only screen and (min-width: 768px) {
              display: grid;
              grid-template-columns: 100px 20px auto;
              grid-template-rows: auto auto;
            }

            .field--name-field-images {
              display: none;

              @media only screen and (min-width: 768px) {
                display: block;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: none;
              }

              .field__item {
                img {
                  margin: 0;
                  max-width: 100%;
                  height: auto;
                }
              }
            }

            .field--name-product-id {
              grid-column-start: 3;
              margin: 0;
            }

            .field--name-sku {
              grid-column-start: 3;
              grid-row-start: 2;
              font-size: 0.875rem;

              .field__label {
                &::after {
                  content: ': ';
                }
              }
            }
          }
        }

        .views-field-total-price__number {
          text-align: right;
        }
      }
    }

    a[href*="cart"] {
      position: absolute;
      top: 100%;
      font-size: $font-size-buttons;
      line-height: $line-height-buttons;
      padding: $padding-buttons;
      padding-left: 0;
      padding-right: 0;
      border-width: $border-width-buttons;
      border-style: solid;
      border-color: transparent;

      &::before {
        content: '\00ab';
        margin-right: 5px;
      }
    }
  }

  .checkout-pane-payment-information {
    >.fieldset-wrapper {
      display: flex;
      flex-direction: column;

      #edit-payment-information-payment-method--wrapper {
        order: 1;
      }

      #edit-payment-information-billing-information {
        order: 0;
      }
    }
  }

  .layout-region-checkout-footer {
    float: none;
    width: auto;
    padding: 0;

    .form-actions {
      display: flex;
      justify-content: space-between;

      &::before {
        content: '';
        order: 1;
      }

      input {
        order: 2;
        max-width: 50%;
      }

      a.link--previous {
        font-size: $font-size-buttons;
        line-height: $line-height-buttons;
        padding: $padding-buttons;
        padding-left: 0;
        padding-right: 0;
        border: $border-width-buttons solid transparent;

        &::before {
          content: '\00ab';
          margin-right: 5px;
        }
      }
    }
  }
}
