@import '../../resources/sass/definitions';

.iq-product-teaser {
  margin-bottom: 50px;

  &__link {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &--title {
      display: block;
      margin-bottom: 0.625rem;
    }
  }

  &__image {
    margin-bottom: 2rem;

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  &__product-title {
    color: $color-black;
  }

  &__price {
    margin-bottom: 0.625rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: $color-primary;

    &__additional-text {
      font-weight: normal;
      font-size: 0.8rem;
    }
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__button {
    a {
      margin-top: 1rem;
    }
  }

  .commerce-variation-add-to-cart {

    &__form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      // Hide spinners for Chrome, Safari, Opera
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      // Hide spinners for Firefox
      input[type="number"] {
        -moz-appearance: textfield;
      }

      button[type="submit"] {
        display: inline-block;
        padding: $padding-buttons;
        font-size: $font-size-buttons;
        font-weight: $font-weight-buttons;
        font-style: $font-style-buttons;
        font-family: $font-family-buttons;
        line-height: $line-height-buttons;
        //margin: $margin-buttons;
        color: $font-color-buttons;
        text-decoration: none;
        border-color: $border-color-buttons;
        border-style: solid;
        border-width: $border-width-buttons;
        border-radius: $border-radius-buttons;
        background: $background-color-buttons;
        transition: $transition-default;
        cursor: pointer;
        margin-top: 1rem;

        &:hover,
        &:focus {
          background-color: $background-color-hover-buttons;
          color: $font-color-hover-buttons;
          border-color: $border-color-hover-buttons;
          text-decoration: none;
        }
      }
    }

    &__quantity-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1rem;
    }

    &__quantity-input {
      border: 0;
      border-radius: 0;
      outline: 0;
      text-align: center;
      color: $color-grey3;
    }

    &__quantity-button {
      border: 0;
      background-color: transparent;
      outline: 0;
      cursor: pointer;

      &:hover,
      &:focus {
        i {
          color: $color-grey4;
        }
      }

      i {
        font-size: 0.75rem;
        color: $color-grey3;
        transition: $transition-default;
      }
    }
  }
}