@import '../../resources/sass/definitions';
.iq-catalog-item{
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid $color-grey5;
  background: $color-background-page;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  transition: $transition-default;
  height: 100%;
  display: flex;
  flex-direction: column;
  &:hover{
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
  }
  *{
    color: $color-standard;
  }
  a{
    text-decoration: none;
    &:hover,
    &:active,
    &:focus{
      text-decoration: none;
    }
  }

  .img-holder{
    flex-basis: 100%;
    padding-bottom: 100%;
    position: relative;
    margin: -15px -15px 30px;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: 100%;
    }
  }

  .info-holder{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    * {
      color: $color-standard;
    }
    .title{
      flex-grow: 1;
      padding-right: 30px;
      font-size: $font-size-h6;
      font-weight: $font-weight-h6;
      font-style: $font-style-h6;
      font-family: $font-family-h6;
      color: $color-h6;
      @include fluid-type(320px, 991px, $font-size-min-h6, $font-size-h6);
      line-height: 1.2;
    }

    .price{
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      line-height: 1.2;
      .currency{
        padding-right: 5px;
        font-size: $font-size-small;
        color: $color-small;
        padding-top: 0.3rem;
        line-height: 1;
      }
      .additional-text{
        padding-right: 5px;
        font-size: $font-size-small;
        color: $color-small;
        padding-top: 0.3rem;
        line-height: 1;
      }
    }
    .detail{
      padding-right: 5px;
      font-size: $font-size-h6;
      padding-top: 0.3rem;
      line-height: 1;
    }
  }

  .descpription{
    margin-bottom: 15px;
    line-height: 1.2;
    display: block;
    font-size: $font-size-standard;
    color: $color-standard;
    * {
      font-size: $font-size-standard;
      color: $color-standard;
    }
  }

  .commerce-variation-add-to-cart-form{
    margin-top: auto;
    display: flex;
    .quantity {
      margin: 0;
      border-radius: 0;
      border: 1px solid #ddd;
      border-right: none;
      text-align: center;
      border-radius: $border-radius-buttons 0 0 $border-radius-buttons;
      max-width: 70px;
      font-size: $font-size-standard;
      color: $color-standard;
    }
    button{
      cursor: pointer;
      border: none;
      padding: 0 15px;
      background: $background-color-buttons;
      font-size: $font-size-small;
      font-weight: $font-weight-buttons;
      font-style: $font-style-buttons;
      font-family: $font-family-buttons;
      color: $font-color-buttons;
      border-radius: 0 $border-radius-buttons $border-radius-buttons 0;
      border-color: $border-color-buttons;
      border-style: solid;
      border-width: $border-width-buttons;
      &:hover,
      &:active,
      &:focus{
        background-color: $background-color-hover-buttons;
        color: $font-color-hover-buttons;
        border-color: $border-color-hover-buttons;
        transition: $transition-default;
        text-decoration: none;
        i{
          color: $font-color-hover-buttons;
          transition: $transition-default;
        }
      }
      &.loading{
        i{
          animation-name: spin;
          animation-duration: 2000ms;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          &::before{
            content: "\f110"
          }
        }
      }
      &.success{
        i{
          &::before{
            content: "\f00c";
          }
        }
      }
      i{
        color: $color-white;
      }
    }
  }


  .btn-more{
    display: inline-block;
    padding: $padding-buttons;
    font-size: $font-size-buttons;
    font-weight: $font-weight-buttons;
    font-style: $font-style-buttons;
    font-family: $font-family-buttons;
    line-height: $line-height-buttons;
    color: $font-color-buttons;
    text-align: center;
    text-decoration: none;
    border-color: $border-color-buttons;
    border-style: solid;
    border-width: $border-width-buttons;
    border-radius: $border-radius-buttons;
    background: $background-color-buttons;
    transition: $transition-default;
    margin-right: auto;
    margin-top: auto;
    &:hover,
    &:active,
    &:focus{
      background-color: $background-color-hover-buttons;
      color: $font-color-hover-buttons;
      border-color: $border-color-hover-buttons;
      transition: $transition-default;
      text-decoration: none;
      i{
        color: $font-color-hover-buttons;
        transition: $transition-default;
      }
    }
    i{
      color: $font-color-buttons;
      transition: $transition-default;
      margin-left: 10px;
    }
  }

}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
